openapi: 3.0.3
info:
  title: TWN Labs Public API
  version: "1.0"
  description: |
    # Welcome to TWN Labs API
    
    ![TWN Labs — API Banner](https://twnlabs.com/assets/banners/twnlabs_for_developers.png)
    
    The TWN Labs API provides **read-only access** to public platform data — AI twins, iNFT collections, rewards, and content. It is designed to be fast, consistent, and easy to integrate for websites, dashboards, and data tools.
    
    **What you can build:**
    - Public directories of AI twins with filtering and sorting (Gold/Silver/Bronze)
    - Collection dashboards showing mint progress and royalty configuration
    - Rewards pages summarizing monthly distributions and events
    - Blog and careers widgets that stay in sync with twnlabs.com
    
    **Why developers like it:**
    - Clean, stable JSON responses tailored for frontend use
    - Public GET endpoints — no API keys required
    - Clear pagination (`total`, `limit`, `offset`, `hasMore`)
    - Standardized errors and rate‑limit headers
    
    ## 🚀 Quick Start
    
    The TWN Labs API is a **RESTful JSON API** that provides read-only access to public platform data. All endpoints use standard HTTP methods and return JSON responses.
    
    **Base URL:** `https://api.twnlabs.com/v1`
    
    **Authentication:** Not required for public endpoints
    
    **Example Request:**
    ```bash
    curl -s "https://api.twnlabs.com/v1/twins?collection=gold&limit=5"
    ```
    
    ## 📊 Available Resources
    
    ### Twins API
    Query AI twin metadata, including profiles, social links, engagement metrics, and minting status. Supports full-text search, filtering by collection tier, and sorting by multiple criteria.
    
    ### Collections API
    Access iNFT collection data for Gold, Silver, and Bronze tiers. Retrieve minting progress, supply statistics, royalty information, and contract addresses.
    
    ### Rewards API
    Query holder rewards and distribution events. View lifetime earnings, monthly summaries, category breakdowns, and detailed transaction history for each twin.
    
    ### Content API
    Access public blog posts, career opportunities, and downloadable resources such as brand kits and documentation.
    
    ## 🔒 Security & Rate Limits
    
    **Rate Limiting:** All endpoints are subject to rate limiting to ensure fair usage and platform stability.
    - Default: 100 requests per minute per IP
    - Additional, stricter per-endpoint limits may apply
    - Rate limit information is returned in response headers
    - Exceeding limits returns `429 Too Many Requests` with `Retry-After` and `X-RateLimit-*` headers
    
    **Security:**
    - All API traffic uses HTTPS/TLS 1.2+
    - No sensitive data is exposed in public endpoints
    - Download endpoints use secure slug-based mapping (no direct file paths)
    - IP-based rate limiting with anonymized logging
    
    ## 📖 Response Format
    
    All successful responses follow this structure:
    ```json
    {
      "success": true,
      "twins": [...],
      "total": 150,
      "limit": 10,
      "offset": 0,
      "hasMore": true
    }
    ```
    
    Error responses include descriptive messages:
    ```json
    {
      "success": false,
      "error": "NotFound",
      "message": "Twin not found",
      "code": "TWIN_NOT_FOUND"
    }
    ```
    
    ## 🆘 Support
    
    Need help integrating or debugging? We're here to help:
    
    - **Email**: [support@twnlabs.com](mailto:support@twnlabs.com) — typical reply within 24–48h (business days)
    - **Contact form**: [twnlabs.com/contact](https://twnlabs.com/contact)
    - **Bug reports (what to include)**:
      - Endpoint and full request URL (e.g., `/twins?collection=gold&limit=5`)
      - Timestamp (UTC) and a minimal reproducible cURL sample
      - Response snippet and relevant headers
      - For rate limits: `X-RateLimit-*` and `Retry-After`
      - For downloads: the `slug` and returned headers (`Content-Type`, `Content-Length`, `Content-Disposition`)
    - **Security notes**: If you believe you’ve found a vulnerability, please contact us via the support channel above. Do not include secrets or personal data.
    
  contact:
    name: TWN Labs Support
    email: support@twnlabs.com
    url: https://twnlabs.com/contact
  license:
    name: Proprietary
    url: https://twnlabs.com/terms-of-service
  termsOfService: https://twnlabs.com/terms-of-service
  x-logo:
    url: https://twnlabs.com/assets/logo/twnlabs_white_worded.svg
    altText: TWN Labs Logo
    backgroundColor: "#1a1a2e"
  x-tagGroups:
    - name: Core API
      tags:
        - Twins
        - Collections
        - Rewards
    - name: Content
      tags:
        - Blog
        - Careers
        - Downloads
servers:
  - url: https://api.twnlabs.com/v1
    description: Production API
security: []
tags:
  - name: Blog
    description: |
      ## 📝 Blog API
      
      Access public blog posts and announcements.
      
  - name: Careers
    description: |
      ## 💼 Careers API
      
      List open positions and career opportunities at TWN Labs.
      
  - name: Collections
    description: |
      ## 🎨 Collections API
      
      Access iNFT collection data and statistics.
      
      **Collection Tiers:**
      - **Gold**: Premium tier (limited supply)
      - **Silver**: Mid-tier collection
      - **Bronze**: Entry-level tier
      
      **Data Includes:**
      - Minting progress and supply
      - Royalty information
      - Contract addresses
      - Collection statistics
      
  - name: Downloads
    description: |
      ## 📥 Downloads API
      
      Download public files including brand kits and documents.
      
  - name: Rewards
    description: |
      ## 💰 Rewards API
      
      Query iNFT holder rewards and distribution events.
      
      **Features:**
      - Lifetime TWN earnings per twin
      - Monthly and 30-day summaries
      - Detailed reward event history
      - Category-based breakdowns
      
  - name: Twins
    description: |
      ## 🤖 AI Twins API
      
      Access public AI twin data including metadata, social profiles, and statistics.
      
      **Use Cases:**
      - Search twins by name, collection, or attributes
      - Get detailed twin information
      - Filter by collection tier (Gold, Silver, Bronze)
      - Sort by rating, creation date, or name
externalDocs:
  description: Full API Documentation and Developer Guide
  url: https://twnlabs.com/docs
components:
  headers:
    X-RateLimit-Limit:
      description: Maximum number of requests allowed in the current window
      schema:
        type: string
        pattern: '^\d+$'
        example: "100"
    X-RateLimit-Remaining:
      description: Requests remaining in the current window
      schema:
        type: string
        pattern: '^\d+$'
        example: "95"
    X-RateLimit-Reset:
      description: Epoch seconds when the current window resets
      schema:
        type: string
        pattern: '^\d+$'
        example: "1730000000"
    Retry-After:
      description: Seconds to wait before retrying (returned on 429)
      schema:
        type: string
        pattern: '^\d+$'
        example: "45"
  schemas:
    Error:
      type: object
      title: Error Response
      description: Standard error response structure returned when an API request fails
      properties:
        success: 
          type: boolean
          example: false
          description: Always false for error responses
        error: 
          type: string
          example: "NotFound"
          description: Error type identifier
        message: 
          type: string
          example: "Twin not found"
          description: Human-readable error message
        code: 
          type: string
          example: "TWIN_NOT_FOUND"
          description: Machine-readable error code
      required: [success]
      example:
        success: false
        error: "NotFound"
        message: "Twin not found"
        code: "TWIN_NOT_FOUND"
    TwinPublic:
      type: object
      title: Twin (Public)
      description: |
        Publicly visible twin fields only (sanitized by backend).
        
        This schema represents the public-facing data for an AI twin, including metadata, social profiles, and engagement statistics.
      properties:
        twin_id: 
          type: string
          description: Public twin identifier (e.g., TWN-G0)
          example: "TWN-G0"
        twin_name: 
          type: string
          description: Display name of the twin
          example: "Kurohane (黒羽)"
        twin_description: 
          type: string
          description: Brief description of the twin's purpose and personality
          example: "闇を超えて、光を守る。"
        twin_birthdate: 
          type: string
          nullable: true
          description: Twin's birthdate
          example: "1999-02-15"
        twin_nationality: 
          type: string
          nullable: true
          description: Twin's nationality (ISO 3166-1 alpha-2)
          example: "JP"
        languages:
          type: array
          items:
            type: string
          description: Array of supported languages
          example: ["ja"]
        collection_type: 
          type: string
          enum: [gold, silver, bronze]
          description: Collection tier
          example: "gold"
        is_minted: 
          type: boolean
          description: Whether the twin has been minted as NFT
          example: false
        mint_date: 
          type: string
          description: Minting timestamp
          example: "2025-10-24 23:35:29"
        avatar_url: 
          type: string
          nullable: true
          description: Avatar image path
          example: "\\assets\\avatars\\2025\\08\\a3f8d9e2b1c4567890ab.png"
        image_url: 
          type: string
          nullable: true
          description: Arweave image URL
          example: "https://arweave.net/sample123456789011"
        contract_address: 
          type: string
          nullable: true
          description: Collection contract address
          example: ""
        creator_address: 
          type: string
          nullable: true
          description: Creator wallet address
          example: ""
        token_address: 
          type: string
          nullable: true
          description: NFT token address (if minted)
          example: ""
        creator_wallet: 
          type: string
          nullable: true
          description: Creator wallet (alternative field)
          example: ""
        twitter: 
          type: string
          nullable: true
          description: Twitter/X profile URL
          example: "https://x.com/twnlabs"
        instagram: 
          type: string
          nullable: true
          description: Instagram profile URL
          example: "https://instagram.com/twnlabs"
        discord: 
          type: string
          nullable: true
          description: Discord invite URL
          example: "https://discord.gg/xTtc6ZFdSN"
        twitch: 
          type: string
          nullable: true
          description: Twitch channel URL
          example: "https://twitch.tv/"
        like_count: 
          type: integer
          minimum: 0
          description: Number of likes
          example: 0
        interaction_count: 
          type: integer
          minimum: 0
          description: Total interactions
          example: 0
        share_count: 
          type: integer
          minimum: 0
          description: Number of shares
          example: 0
        rating: 
          type: number
          format: float
          description: Average rating (decimal)
          example: 0.00
        created_at: 
          type: string
          description: Creation timestamp
          example: "2025-08-04 21:52:18"
      required: [twin_id, twin_name, collection_type]
    TwinDetailsPublic:
      type: object
      properties:
        twin_id: { type: string }
        short_id: { type: string }
        twin_name: { type: string }
        twin_description: { type: string }
        twin_birthdate: { type: string, nullable: true }
        twin_nationality: { type: string, nullable: true }
        languages:
          type: array
          items: { type: string }
        collection_type: { type: string, enum: [gold, silver, bronze] }
        is_minted: { type: boolean }
        mint_date: { type: string }
        avatar_url: { type: string, format: uri, nullable: true }
        image_url: { type: string, format: uri, nullable: true }
        contract_address: { type: string, nullable: true }
        creator_address: { type: string, nullable: true }
        tx_hash: { type: string, nullable: true }
        metadata_uri: { type: string, nullable: true }
        twitter: { type: string, nullable: true }
        instagram: { type: string, nullable: true }
        discord: { type: string, nullable: true }
        twitch: { type: string, nullable: true }
        like_count: { type: integer, minimum: 0 }
        interaction_count: { type: integer, minimum: 0 }
        rating: { type: number, format: float }
        rating_count: { type: integer, minimum: 0 }
        status: { type: string }
        created_at: { type: string }
        updated_at: { type: string }
      required: [twin_id, short_id, twin_name, collection_type]
    TwinsListResponse:
      type: object
      title: Twins List Response
      description: Paginated list of public twins with metadata
      properties:
        success: 
          type: boolean
          description: Indicates if the request was successful
          example: true
        twins:
          type: array
          description: Array of twin objects matching the query
          items: { $ref: '#/components/schemas/TwinPublic' }
        total: 
          type: integer
          minimum: 0
          description: Total number of twins matching the query
          example: 45
        limit: 
          type: integer
          minimum: 1
          description: Maximum number of results per page
          example: 10
        offset: 
          type: integer
          minimum: 0
          description: Number of results skipped
          example: 0
        hasMore: 
          type: boolean
          description: Indicates if more results are available
          example: true
      required: [success, twins, total, limit, offset, hasMore]
    TwinDetailsResponse:
      type: object
      properties:
        success: { type: boolean }
        twin: { $ref: '#/components/schemas/TwinDetailsPublic' }
      required: [success, twin]
    RewardsSummary:
      type: object
      title: Rewards Summary
      description: Comprehensive rewards summary for a specific twin, including lifetime and period-based earnings
      properties:
        twin_id: 
          type: string
          description: Twin identifier
          example: "TWN-G0"
        period_ym: 
          type: string
          description: 'Period in YYYYMM format'
          example: "202501"
        lifetime_twn: 
          type: string
          description: 'Total TWN earned (string format, 1e-6 precision)'
          example: "1250.500000"
        mtd_twn: 
          type: string
          description: 'Month-to-date TWN earnings'
          example: "45.250000"
        last30d_twn: 
          type: string
          description: 'Last 30 days TWN earnings'
          example: "78.125000"
        by_category:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              amount: { type: string }
            required: [code, amount]
        last_airdrop:
          type: object
          nullable: true
          properties:
            period_ym: { type: string }
            amount: { type: string }
          required: [period_ym, amount]
        mint_detected: { type: boolean }
      required: [twin_id, period_ym, lifetime_twn]
    RewardsSummaryResponse:
      type: object
      properties:
        success: { type: boolean }
        rewards: { $ref: '#/components/schemas/RewardsSummary' }
      required: [success, rewards]
    RewardEventPublic:
      type: object
      properties:
        block_time: { type: string }
        period_ym: { type: string }
        category_code: { type: string }
        category_name: { type: string }
        amount: { type: string }
        usd_amount: { type: string, nullable: true }
        tx_signature: { type: string }
        network: { type: string }
        status: { type: string }
        token_symbol: { type: string }
      required: [period_ym, category_code, amount]
    RewardEventsResponse:
      type: object
      properties:
        success: { type: boolean }
        events:
          type: array
          items: { $ref: '#/components/schemas/RewardEventPublic' }
      required: [success, events]
    CollectionData:
      type: object
      title: Collection Data
      description: iNFT collection metadata and statistics for a specific tier (Gold, Silver, or Bronze)
      properties:
        family: 
          type: string
          description: Collection family name
          example: "TWN Labs"
        name: 
          type: string
          description: Collection name
          example: "TWN Gold Collection"
        tier: 
          type: string
          enum: [gold, silver, bronze]
          description: Collection tier
          example: "gold"
        symbol: 
          type: string
          description: Collection symbol
          example: "TWNG"
        description: 
          type: string
          description: Collection description
          example: "Unique AI Twins powered by TWN Labs - Gold Tier"
        cap: 
          type: integer
          description: Maximum supply for this collection
          example: 100
        weight: 
          type: number
          description: Distribution weight (10:5:1 for Gold:Silver:Bronze)
          example: 10
        nft_minted: 
          type: integer
          description: Number of NFTs currently minted
          example: 1
        seller_fee_basis_points: 
          type: integer
          description: Royalty in basis points (100 = 1%)
          example: 0
        contract_address: 
          type: string
          description: On-chain collection address
          example: "collection12345678901"
        creator_address: 
          type: string
          description: Creator wallet address
          example: "none"
        metadata_uri: 
          type: string
          description: Arweave metadata URI
          example: "https://arweave.net/gold-metadata"
        image_uri: 
          type: string
          description: Arweave image URI
          example: "https://arweave.net/gold-image"
        network: 
          type: string
          description: Blockchain network
          example: "mainnet"
        is_active: 
          type: boolean
          description: Whether collection is active
          example: true
        created_at: 
          type: string
          description: Creation timestamp
          example: "2025-09-26 20:10:46"
        updated_at: 
          type: string
          description: Last update timestamp
          example: "2025-10-05 02:09:21"
      required: [name, tier]
    CollectionStats:
      type: object
      title: Collection Statistics
      description: Real-time statistics for collection minting progress
      properties:
        progress_percentage: 
          type: number
          description: Minting progress as percentage
          example: 1
        royalty_percentage: 
          type: number
          description: Royalty as percentage (not basis points)
          example: 0
        remaining_supply: 
          type: integer
          description: Number of NFTs remaining to mint
          example: 99
    CollectionLinks:
      type: object
      title: Collection API Links
      description: Related API endpoints for this collection
      properties:
        explore: 
          type: string
          description: Web UI link to explore collection
          example: "/collections/gold"
        twins_api: 
          type: string
          description: API endpoint to list twins in this collection
          example: "/v1/collections/gold/twins"
        collection_api: 
          type: string
          description: API endpoint for this collection
          example: "/v1/collections/gold"
    CollectionsListResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: object
          properties:
            collections:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/CollectionData'
                  - type: object
                    properties:
                      stats: { $ref: '#/components/schemas/CollectionStats' }
                      links: { $ref: '#/components/schemas/CollectionLinks' }
            summary:
              type: object
              title: Collections Summary
              description: Aggregate statistics across all collections
              properties:
                total_collections: 
                  type: integer
                  description: Total number of collections
                  example: 3
                total_minted: 
                  type: integer
                  description: Total NFTs minted across all collections
                  example: 3
                total_capacity: 
                  type: integer
                  description: Total capacity across all collections
                  example: 1350
                overall_progress: 
                  type: number
                  description: Overall minting progress as percentage
                  example: 0.22
            meta:
              type: object
              title: Response Metadata
              description: API response metadata
              properties:
                timestamp: 
                  type: string
                  description: Response timestamp
                  example: "2025-10-26T08:22:56+03:00"
                api_version: 
                  type: string
                  description: API version
                  example: "v1"
                endpoint: 
                  type: string
                  description: API endpoint path
                  example: "/v1/collections"
      required: [success, data]
    CollectionSingleResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: object
          properties:
            collection: { $ref: '#/components/schemas/CollectionData' }
            stats: { $ref: '#/components/schemas/CollectionStats' }
            links: { $ref: '#/components/schemas/CollectionLinks' }
      required: [success, data]
    BlogPost:
      type: object
      title: Blog Post
      description: Blog post metadata and content information
      properties:
        id:
          type: integer
          description: Unique blog post ID
          example: 1
        slug:
          type: string
          description: URL-friendly identifier
          example: "unlocking-digital-identity-from-web2-to-sovereign-infts"
        title:
          type: string
          description: Blog post title
          example: "Unlocking Digital Identity: From Web 2 Sign‑On to Sovereign iNFTs"
        excerpt:
          type: string
          description: Short summary of the post
          example: "Digital identity is shifting from Big Tech‑controlled SSO to self‑sovereign, interoperable iNFTs anchored on decentralized identifiers and verifiable credentials."
        category:
          type: string
          description: Primary category
          example: "Identity"
        tags:
          type: array
          items: { type: string }
          description: Related tags
          example: ["SSI", "DID", "iNFT", "Verifiable Credentials", "Web3"]
        author:
          type: string
          description: Author name
          example: "TWN Labs Team"
        date:
          type: string
          description: Publication date (YYYY-MM-DD)
          example: "2025-01-20"
        readTime:
          type: integer
          description: Estimated read time in minutes
          example: 10
        image:
          type: string
          description: Featured image path
          example: "/assets/blog/pictures/DigitalIdentity_Evolution.webp"
        file:
          type: string
          description: Content file name
          example: "unlocking-digital-identity-from-web2-to-sovereign-infts.json"
      required: [id, slug, title, category, author, date]
    BlogPostsListResponse:
      type: array
      items: { $ref: '#/components/schemas/BlogPost' }
    AnyObject:
      type: object
      additionalProperties: true
    AnyArrayOfObjects:
      type: array
      items:
        type: object
        additionalProperties: true
    HealthResponse:
      type: object
      title: Health Response
      description: Minimal public liveness response
      properties:
        success:
          type: boolean
          example: true
        status:
          type: string
          example: ok
        time:
          type: string
          description: ISO-8601 timestamp
          example: "2025-10-29T03:55:00Z"
      required: [success, status]
    TwinAnalytics:
      type: object
      title: Twin Analytics
      description: Aggregated public analytics for a twin
      properties:
        view_count: { type: integer, minimum: 0, description: Total profile views }
        like_count: { type: integer, minimum: 0, description: Total likes }
        interaction_count: { type: integer, minimum: 0, description: Total interactions }
        share_count: { type: integer, minimum: 0, description: Total shares }
        rating: { type: number, format: float, description: Average rating (0.0–10.0) with thresholding }
        rating_count: { type: integer, minimum: 0, description: Number of ratings received }
        rating_pending: { type: boolean, description: True if below minimum vote threshold }
        daily_avg_views: { type: number, format: float, description: Average daily views since creation }
        engagement_rate: { type: number, format: float, description: (likes + interactions) / views in % }
      required: [view_count, like_count, interaction_count, share_count, rating, rating_count, rating_pending, daily_avg_views, engagement_rate]
    TwinAnalyticsResponse:
      type: object
      title: Twin Analytics Response
      properties:
        success: { type: boolean }
        analytics: { $ref: '#/components/schemas/TwinAnalytics' }
      required: [success, analytics]
paths:
  /health:
    get:
      tags: [Downloads]
      summary: Health (liveness) check
      description: Returns minimal liveness signal for monitoring.
      operationId: getHealth
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -s "https://api.twnlabs.com/v1/health"
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "40"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /twins:
    get:
      tags: [Twins]
      summary: List public twins
      description: |
        Retrieve a paginated list of public AI twins with optional filtering and sorting.
        
        **Example Use Cases:**
        - Get all Gold tier twins: `?collection=gold`
        - Search by name: `?search=Kurohane`
        - Top rated twins: `?sort=rating&order=DESC`
        
      operationId: listTwins
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X GET "https://api.twnlabs.com/v1/twins?collection=gold&limit=10" \
              -H "Accept: application/json"
        - lang: javascript
          label: JavaScript (Fetch)
          source: |
            const response = await fetch('https://api.twnlabs.com/v1/twins?collection=gold&limit=10');
            const data = await response.json();
            console.log(data);
        - lang: python
          label: Python
          source: |
            import requests
            response = requests.get('https://api.twnlabs.com/v1/twins', params={'collection': 'gold', 'limit': 10})
            data = response.json()
            print(data)
      parameters:
        - in: query
          name: search
          schema: { type: string }
          description: Full-text search across name, description, collection, languages, and social profiles
          example: "Kurohane"
        - in: query
          name: collection
          schema: { type: string, enum: [gold, silver, bronze] }
          description: Filter by collection tier
          example: "gold"
        - in: query
          name: sort
          schema: { type: string, enum: [created_at, twin_name, collection_type, rating] }
          description: Sort field
          example: "rating"
        - in: query
          name: order
          schema: { type: string, enum: [ASC, DESC] }
          description: Sort order (ascending or descending)
          example: "DESC"
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50 }
          description: Maximum number of results per page (max 50)
          example: 10
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
          description: Number of results to skip for pagination
          example: 0
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "30"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TwinsListResponse' }
              examples:
                gold_twins:
                  summary: Gold Tier Twins
                  description: Example response showing Gold tier twins sorted by rating
                  value:
                    success: true
                    twins:
                      - twin_id: "TWN-G0"
                        short_id: "G0"
                        twin_name: "Kurohane"
                        twin_description: "AI digital twin focused on creative content and digital art"
                        collection_type: "gold"
                        is_minted: true
                        mint_date: "2025-01-15T10:30:00Z"
                        rating: 4.8
                        like_count: 245
                        interaction_count: 1520
                        share_count: 89
                        languages: ["English", "Japanese"]
                        twitter: "@kurohane_ai"
                        avatar_url: "https://twnlabs.com/assets/twins/TWN-G0/avatar.png"
                        created_at: "2025-01-10T08:00:00Z"
                    total: 45
                    limit: 10
                    offset: 0
                    hasMore: true
                all_twins:
                  summary: All Twins (Mixed Tiers)
                  description: Example response showing twins from all tiers
                  value:
                    success: true
                    twins:
                      - twin_id: "TWN-G0"
                        short_id: "G0"
                        twin_name: "Kurohane"
                        collection_type: "gold"
                        is_minted: true
                        rating: 4.8
                        like_count: 245
                        created_at: "2025-01-10T08:00:00Z"
                      - twin_id: "TWN-S1"
                        short_id: "S1"
                        twin_name: "Khan X"
                        collection_type: "silver"
                        is_minted: true
                        rating: 4.5
                        like_count: 180
                        created_at: "2025-01-12T09:00:00Z"
                      - twin_id: "TWN-B2"
                        short_id: "B2"
                        twin_name: "Byte Robert"
                        collection_type: "bronze"
                        is_minted: true
                        rating: 4.2
                        like_count: 120
                        created_at: "2025-01-14T11:00:00Z"
                    total: 150
                    limit: 3
                    offset: 0
                    hasMore: true
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /twins/{short_id}:
    get:
      tags: [Twins]
      summary: Get twin details
      description: |
        Retrieve detailed information about a specific AI twin by its short ID.
        
        **Supported ID Formats:**
        - Short form: `G0`, `S1`, `B12`
        - Full form: `TWN-G0`, `TWN-S1`, `TWN-B12`
        
      operationId: getTwinById
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -s "https://api.twnlabs.com/v1/twins/G0"
        - lang: javascript
          label: fetch
          source: |
            const r = await fetch('https://api.twnlabs.com/v1/twins/G0');
            console.log(await r.json());
      parameters:
        - in: path
          name: short_id
          required: true
          schema: { type: string }
          description: Short twin ID (e.g., G0, S1, B12). Full form (e.g., TWN-G0) is also accepted.
          example: "G0"
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "30"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TwinDetailsResponse' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /twins/{short_id}/analytics:
    get:
      tags: [Twins]
      summary: Get twin analytics
      description: |
        Retrieve public analytics for a specific twin (views, likes, interactions, shares, rating).
        Returns data for public twins, or for the owner when authenticated.
      operationId: getTwinAnalytics
      parameters:
        - in: path
          name: short_id
          required: true
          schema: { type: string }
          description: Short twin ID (e.g., G0). Full form (e.g., TWN-G0) is also accepted.
          example: "G0"
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "30"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TwinAnalyticsResponse' }
              example:
                success: true
                analytics:
                  view_count: 1520
                  like_count: 245
                  interaction_count: 1520
                  share_count: 89
                  rating: 4.8
                  rating_count: 37
                  rating_pending: false
                  daily_avg_views: 24.67
                  engagement_rate: 115.13
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /twins/{short_id}/rewards:
    get:
      tags: [Rewards]
      summary: Get rewards summary
      description: |
        Retrieve a comprehensive rewards summary for a specific twin, including lifetime earnings, monthly totals, and category breakdowns.
        
        **Includes:**
        - Lifetime TWN earnings
        - Month-to-date (MTD) rewards
        - Last 30 days rewards
        - Breakdown by reward category
        
      operationId: getTwinRewards
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -s "https://api.twnlabs.com/v1/twins/G0/rewards?period_ym=202501"
        - lang: javascript
          label: fetch
          source: |
            const r = await fetch('https://api.twnlabs.com/v1/twins/G0/rewards?period_ym=202501');
            console.log(await r.json());
      parameters:
        - in: path
          name: short_id
          required: true
          schema: { type: string }
          description: Short twin ID (e.g., G0). Full form (e.g., TWN-G0) is also accepted.
        - in: query
          name: period_ym
          schema: { type: string }
          description: 'Optional period in YYYYMM format; defaults to current UTC month'
          example: "202501"
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "60"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RewardsSummaryResponse' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /twins/{short_id}/rewards/events:
    get:
      tags: [Rewards]
      summary: List reward events
      description: |
        Retrieve a detailed history of reward distribution events for a specific twin.
        
        **Query Options:**
        - Filter by period (YYYYMM format)
        - Get all historical events with `period=all`
        - Paginate with `limit` parameter
        
      operationId: getTwinRewardEvents
      parameters:
        - in: path
          name: short_id
          required: true
          schema: { type: string }
          description: Short twin ID (e.g., G0). Full form (e.g., TWN-G0) is also accepted.
        - in: query
          name: period_ym
          schema: { type: string }
          description: 'Filter by period in YYYYMM format'
          example: "202501"
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200 }
          description: 'Maximum number of events to return (max 200)'
          example: 50
        - in: query
          name: period
          schema: { type: string, enum: [all] }
          description: 'Set to "all" to return events across all periods (honors server max limit)'
          example: "all"
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "60"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RewardEventsResponse' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /collections:
    get:
      tags: [Collections]
      summary: List all collections
      description: |
        Retrieve information about all iNFT collections (Gold, Silver, Bronze) including statistics, minting progress, and metadata.
        
        **Returns:**
        - Collection metadata and contract addresses
        - Minting progress and supply information
        - Royalty percentages
        - Overall summary statistics
        
      operationId: listCollections
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -s "https://api.twnlabs.com/v1/collections"
        - lang: javascript
          label: fetch
          source: |
            const r = await fetch('https://api.twnlabs.com/v1/collections');
            console.log(await r.json());
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "60"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CollectionsListResponse' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /collections/{tier}:
    get:
      tags: [Collections]
      summary: Get collection by tier
      description: |
        Retrieve detailed information about a specific collection tier.
        
        **Available Tiers:**
        - `gold` - Premium tier with limited supply
        - `silver` - Mid-tier collection
        - `bronze` - Entry-level tier
        
      operationId: getCollectionByTier
      parameters:
        - in: path
          name: tier
          required: true
          schema: { type: string, enum: [gold, silver, bronze] }
          description: Collection tier
          example: "gold"
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "60"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CollectionSingleResponse' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /collections/{tier}/twins:
    get:
      tags: [Collections]
      summary: List twins in collection
      description: |
        Retrieve all twins belonging to a specific collection tier with pagination support.
        
        **Use Cases:**
        - Browse all Gold tier twins
        - Get paginated results for large collections
        - Filter twins by collection membership
        
      operationId: listTwinsByCollection
      parameters:
        - in: path
          name: tier
          required: true
          schema: { type: string, enum: [gold, silver, bronze] }
          description: Collection tier to filter twins
          example: "silver"
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50 }
          description: 'Maximum number of twins per page (max 50)'
          example: 20
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
          description: 'Number of twins to skip for pagination'
          example: 0
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TwinsListResponse' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /blog:
    get:
      tags: [Blog]
      summary: List all blog posts
      description: |
        Retrieve a list of all public blog posts and announcements.
        
        **Returns:**
        - Blog post metadata (title, excerpt, category, tags)
        - Author and publication date
        - Featured images and read time
        - Direct links to full content
        
      operationId: listBlogPosts
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "10"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BlogPostsListResponse' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                success: false
                error: "Too many requests"
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /blog/{slug}:
    get:
      tags: [Blog]
      summary: Get blog post by slug
      description: |
        Retrieve a specific blog post by its URL-friendly slug identifier.
        
        **Returns:**
        - Full blog post metadata
        - Content file reference
        - Related tags and category
        
      operationId: getBlogPostBySlug
      parameters:
        - in: path
          name: slug
          required: true
          schema: { type: string }
          description: URL-friendly blog post identifier
          example: "unlocking-digital-identity-from-web2-to-sovereign-infts"
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "60"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BlogPost' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                success: false
                error: "Too many requests"
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /careers/roles:
    get:
      tags: [Careers]
      summary: List open positions
      description: |
        Retrieve all currently open job positions at TWN Labs.
        
        **Includes:**
        - Job title and description
        - Required qualifications
        - Location and remote options
        - Application details
        
      operationId: listOpenRoles
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "60"
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AnyArrayOfObjects' }
        '429':
          description: Too Many Requests
          headers:
            Retry-After: { $ref: '#/components/headers/Retry-After' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /download/{slug}:
    get:
      tags: [Downloads]
      summary: Download file by slug
      description: |
        Download public files such as brand kits, whitepapers, and other documents.
        
        **Security:** This endpoint uses secure slug-based mapping. File paths are never exposed to clients. The server validates the slug against an internal whitelist before streaming the file.
        
        **Available Downloads:**
        - Brand assets and logos (e.g., `brand-kit-2025`)
        - Technical documentation (e.g., `whitepaper-v1`)
        - Token economy papers (e.g., `tokeneconomy-v1`)
        - Transparency reports (e.g., `report-2025-10`)
        
        **Response:** Binary file stream with appropriate `Content-Disposition` header for browser download.
        
        **Rate Limiting:** Downloads are subject to stricter rate limits to prevent abuse.
        
      x-gitbook-description-html: >-
        <p>Download public files such as brand kits, whitepapers, and other documents.</p>
        <p><strong>Security:</strong> This endpoint uses secure slug-based mapping. File paths are never exposed to clients. The server validates the slug against an internal whitelist before streaming the file.</p>
        <p><strong>Available Downloads (examples):</strong></p>
        <ul>
          <li>Brand assets and logos (e.g., <code>brand-wordmark-svg</code>, <code>brand-icon-png</code>, <code>brand-kit-complete</code>)</li>
          <li>Technical documentation (e.g., <code>whitepaper-v1</code>)</li>
          <li>Token economy papers (e.g., <code>tokeneconomy-v1</code>)</li>
          <li>Transparency reports (e.g., <code>report-2025-10</code>)</li>
        </ul>
        <p><strong>Response:</strong> Binary file stream with appropriate <code>Content-Disposition</code> header for browser download.</p>
        <p><strong>Rate Limiting:</strong> Downloads are subject to stricter rate limits to prevent abuse.</p>

      operationId: downloadFileBySlug
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -OJL "https://api.twnlabs.com/v1/download/brand-kit-complete"
            # -O: Save to file
            # -J: Use Content-Disposition filename
            # -L: Follow redirects if any
        - lang: javascript
          label: fetch
          source: |
            const r = await fetch('https://api.twnlabs.com/v1/download/brand-kit-complete');
            const blob = await r.blob();
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'brand-kit.zip';
            a.click();
      parameters:
        - in: path
          name: slug
          required: true
          schema: 
            type: string
            pattern: '^[a-z0-9\-]{3,64}$'
          description: |
            File identifier slug (lowercase alphanumeric with hyphens).
            
            **Available slugs:**
            - `brand-wordmark-black-png` - Black wordmark (PNG)
            - `brand-wordmark-black-svg` - Black wordmark (SVG)
            - `brand-wordmark-white-png` - White wordmark (PNG)
            - `brand-wordmark-white-svg` - White wordmark (SVG)
            - `brand-icon-png` - Icon only (PNG)
            - `brand-icon-svg` - Icon only (SVG)
            - `brand-wordmark-png` - Standard wordmark (PNG)
            - `brand-wordmark-svg` - Standard wordmark (SVG)
            - `brand-kit-complete` - Complete brand kit (ZIP)
          example: "brand-kit-complete"
      responses:
        '200':
          description: |
            Binary file stream with appropriate headers for download.
            
            **Headers:**
            - `Content-Type`: MIME type based on file extension (e.g., `application/pdf`, `image/png`, `image/svg+xml`, `application/zip`)
            - `Content-Disposition`: `attachment; filename="..."` for browser download
            - `Content-Length`: File size in bytes
            - `Content-Transfer-Encoding`: `binary`
            - `Cache-Control`: `private, max-age=0, must-revalidate` (no CDN caching for downloads)
            - `X-Content-Type-Options`: `nosniff` (security)
            - `X-Frame-Options`: `DENY` (security)
            
            **Note:** This endpoint streams files directly without loading them into memory. Large files are chunked (8KB chunks).
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current window
              schema:
                type: string
                pattern: '^\d+$'
                example: "20"
            X-RateLimit-Remaining: 
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset: 
              $ref: '#/components/headers/X-RateLimit-Reset'
            Content-Type:
              description: MIME type of the file (e.g., application/pdf, image/png, image/svg+xml, application/zip)
              schema: 
                type: string
                example: "application/zip"
            Content-Disposition:
              description: Attachment header with filename for browser download
              schema: 
                type: string
                example: 'attachment; filename="twnlabs_brand_kit.zip"'
            Content-Length:
              description: File size in bytes
              schema: 
                type: integer
                example: 2458624
            Content-Transfer-Encoding:
              description: Binary transfer encoding
              schema: 
                type: string
                example: "binary"
            Cache-Control:
              description: Cache policy (no CDN caching for downloads)
              schema: 
                type: string
                example: "private, max-age=0, must-revalidate"
            X-Content-Type-Options:
              description: Security header to prevent MIME sniffing
              schema: 
                type: string
                example: "nosniff"
            X-Frame-Options:
              description: Security header to prevent clickjacking
              schema: 
                type: string
                example: "DENY"
          content:
            application/octet-stream:
              schema: 
                type: string
                format: binary
                description: Binary file content
            application/pdf:
              schema: 
                type: string
                format: binary
            image/png:
              schema: 
                type: string
                format: binary
            image/svg+xml:
              schema: 
                type: string
                format: binary
            application/zip:
              schema: 
                type: string
                format: binary
        '404':
          description: Not Found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: |
            Too Many Requests - Rate limit exceeded.
            
            **Response includes:**
            - `Retry-After` header indicating seconds until reset
            - `X-RateLimit-*` headers showing current limits
          headers:
            X-RateLimit-Limit: 
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining: 
              description: Always 0 when rate limited
              schema: 
                type: integer
                example: 0
            X-RateLimit-Reset: 
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                success: false
                message: "Too many requests"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
